$default-font: "MyriadProRegular", sans-serif
$default-font: "museo-regular", sans-serif
$default-font-italic: "museo-italic", sans-serif
$default-font-bold: "museo-bold", sans-serif
$default-font-semibold: "museo-medium", sans-serif
$title-font: "Garden", sans-serif



$accent-color: #f7c3cc
$accent-color2: #b8e6fe
$gray-color: #c0c1c2
$dark-color: #333
$font-color: #474b68