*::-webkit-input-placeholder {
  color: #666;
  opacity: 1; }

*:-moz-placeholder {
  color: #666;
  opacity: 1; }

*::-moz-placeholder {
  color: #666;
  opacity: 1; }

*:-ms-input-placeholder {
  color: #666;
  opacity: 1; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #666; }

body input:required:valid,
body textarea:required:valid {
  color: #666; }

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  font-family: "Fira Sans Extra Condensed", sans-serif;
  overflow-x: hidden;
  color: #292929; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Ubuntu Condensed", sans-serif; }

.title {
  margin: 0;
  text-transform: uppercase;
  font-size: 36px;
  text-align: center; }

.parallax_title {
  position: relative;
  padding: 100px 0; }

.section {
  padding: 50px 0; }
  .section .sup_title,
  .section .sub_title {
    text-align: center; }
  .section .sub_title {
    color: #5c5c5c; }

.accent_color {
  color: #09DE7A; }

.accent_bg {
  background-color: #09DE7A; }

.yellow_bg {
  background-color: #F6C607; }

.header {
  padding: 20px 0; }
  .header .header_logo {
    margin-top: 10px; }
    .header .header_logo .header_title {
      font-size: 14px; }
    .header .header_logo img {
      margin-left: 5px; }
  .header .header_map {
    float: right;
    margin-left: 50px; }
    .header .header_map .map_title {
      position: relative;
      font-family: "Ubuntu Condensed", sans-serif;
      font-weight: 300;
      font-size: 18px; }
      .header .header_map .map_title::before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-bottom: 2px solid #09DE7A; }
      .header .header_map .map_title .fa {
        position: absolute;
        left: -20px;
        font-size: 20px;
        top: 3px;
        color: #09DE7A; }
    .header .header_map .map_phone {
      text-align: center; }
      .header .header_map .map_phone span {
        color: #5c5c5c; }

.top_menu {
  position: relative;
  text-align: center;
  background-color: #24f693; }
  .top_menu .menu {
    height: 75px; }
  .top_menu .menu, .top_menu li {
    list-style-type: none;
    padding: 0;
    margin: 0; }
    .top_menu .menu li, .top_menu li li {
      display: inline-block;
      text-align: center;
      vertical-align: middle;
      height: 100%;
      padding: 10px 15px; }
      .top_menu .menu li a, .top_menu li li a {
        display: block;
        color: #fff;
        text-decoration: none;
        font-family: "Ubuntu Condensed", sans-serif;
        font-size: 17px;
        text-transform: lowercase; }
      .top_menu .menu li:nth-child(6), .top_menu .menu li:nth-child(7), .top_menu li li:nth-child(6), .top_menu li li:nth-child(7) {
        line-height: 60px; }

.parallax {
  position: relative; }
  .parallax::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(246, 198, 7, 0.3); }
  .parallax .title {
    font-size: 70px; }
  .parallax .easy_lp {
    width: 300px;
    padding: 10px 5px;
    display: inline-block;
    position: relative;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
       -moz-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
            box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4); }
    .parallax .easy_lp h2 {
      margin: 0;
      font-size: 26px; }

.parallax-window,
.parallax-window-head {
  min-height: 500px;
  background: transparent; }

.about p {
  font-family: "Fira Sans Extra Condensed", sans-serif;
  font-size: 17px;
  color: rgba(0, 0, 0, 0.87); }
  .about p strong {
    font-size: 19px; }

.auto_height {
  min-height: 400px;
  position: relative;
  display: table;
  width: 100%;
  text-align: center; }
  .auto_height .auto_wrapper {
    display: table-cell;
    vertical-align: middle; }

.block_left {
  text-align: left; }

.block_right {
  text-align: right; }

.block_center {
  text-align: center; }

.parralax_title {
  position: relative; }
  .parralax_title::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(246, 198, 7, 0.3); }

.order {
  padding: 50px 0;
  background-image: url("../img/bg3_min.jpg");
  background-repeat: no-repeat;
  background-position: center;
  -moz-background-size: cover;
    -o-background-size: cover;
       background-size: cover; }
  .order .order_block {
    background-color: #fff;
    border: 1px solid #09DE7A;
    text-align: center; }
    .order .order_block .order_block_title {
      padding: 5px 0; }

.sale {
  text-align: center;
  width: 100%; }

.table {
  text-align: center;
  display: table;
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  background-color: tomato; }
  .table .table_row {
    display: table-row; }
  .table .table_item {
    display: table-cell; }

/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  /**/ }

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  /**/ }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  /*Disable Animation on Mobile Devices*/
  .animated {
    /*CSS transitions*/
    /*CSS transforms*/
    /*CSS animations*/ }
  .logo_subtitle {
    font-size: 1.5em; }
  .logo_title {
    font-size: 1.625em; }
  .logo_p {
    font-size: 0.9375em;
    text-align: justify; }
  .head .head_logo {
    width: 250px;
    margin: 0 auto; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  /**/
  .title {
    font-size: 1.375em; }
  .section_parallax .par_cell p {
    font-size: 2em; }
  .section_plan .plan_img {
    padding-top: 0; } }

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  /**/ }

/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /**/ }

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /**/ }

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  /**/ }

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  /**/ }

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  /**/ }
